<h1>Visualizando Pessoa</h1>
<p id="notice"><%= notice %></p>

<form>
  <div class="form-group">
    <%= label_tag nil, @pessoa.class.human_attribute_name(:nome) %>
    <%= text_field_tag nil, @pessoa.nome, class:"form-control", disabled: true %>
  </div>

  <div class="form-group">
    <%= label_tag nil, @pessoa.class.human_attribute_name(:sobrenome) %>
    <%= text_field_tag nil, @pessoa.sobrenome, class:"form-control", disabled: true %>
  </div>

  <br>

  <h3>Contatos</h3>
  
  <hr>

  <div class="form-group">
    <div class="row">
      <div class="col">
        <% @pessoa.contato_pessoas.each do |contato_pessoa| %>
        <%= label_tag :Tipo %>
        <%= text_field_tag nil, contato_pessoa.tipo_contato.nome, class:"form-control", disabled: true %>
        <% end %>
      </div>
      <div class="col">
        <% @pessoa.contato_pessoas.each do |contato_pessoa| %>
        <%= label_tag :Contato %>
        <%= text_field_tag nil, contato_pessoa.contato, class:"form-control", disabled: true %>
        <% end %>
      </div>    
    </div>
  </div>

  <div class="form-group">
     
  </div>

</form>


<%= link_to t('links.edit'), edit_pessoa_path(@pessoa), class:"btn btn-primary" %> |
<%= link_to t('links.back'), pessoas_path, class:"btn btn-danger" %>