
<h1><%= ContatoPessoa.model_name.human(count: @contato_pessoas.count) %></h1>

<table class="table">
  <thead>
    <tr>
      <th><%= @contato_pessoas.human_attribute_name(:pessoa_id) %></th>
      <th><%= @contato_pessoas.human_attribute_name(:contato) %></th>
      <th><%= @contato_pessoas.human_attribute_name(:tipo_contato_id) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contato_pessoas.each do |contato_pessoa| %>
      <tr>
        <td><%= contato_pessoa.pessoa.nome %></td>
        <td><%= contato_pessoa.contato %></td>
        <td><%= contato_pessoa.tipo_contato.nome %></td>        
        <td><%= link_to t('links.show'), contato_pessoa %></td>
        <td><%= link_to t('links.edit'), edit_contato_pessoa_path(contato_pessoa) %></td>
        <td><%= link_to t('links.delete'), contato_pessoa, method: :delete, data: { confirm: t('messages.confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('links.new'), new_contato_pessoa_path, class:"btn btn-primary" %>
