<!DOCTYPE html>
<html>
  <head>
    <title>Cmbse</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  
  <body>
    
    <div class="container-fluid">
      <ul class="nav justify-content-end">
        <li>
            <%= link_to 'Home', root_path, class:"nav-link" %>
        </li>        
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/adrianoprogramador/Prova-dev-CBMSE">Documentação</a>          
        </li>              
      </ul>
      <%= yield %>
    </div>
    
    <% if notice %>
      <script>
        $.notify("<%= notice %>",  
        {
          position:'top center',
          className: 'success',
        }
        );
      </script>
    <% end %>
  </body>
</html>
